<h2>Contact</h2>
<!-- elvis operator .? null check 
if branchOffice is null/undefined, it won't result city
-->

<!--
    # - template reference variable, it allows to define a variable reference
        to DOM element and for the directive and component

    # DOM/directive reference is held only within component scope

    We can access Template Reference variable in Component / TS

    @ViewChild
    @ViewChildren
-->

<!-- 
     [()] - two way binding, property + event binding
-->

<form (ngSubmit)="save()" (ngReset)="reset()">
    City <input  type="text" name="city" [(ngModel)]="address.city" >
    State <input  type="text" name="state" [ngModel]="address.state" 
                 (ngModelChange)="address.state = $event" >

    Pincode <input type="number" name="pincode" [(ngModel)]="address.pincode" >
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>

<pre>
{{address | json}}
</pre>
  

<!-- yourName is a reference to input dom element
    myResult is a reference to para dom element
-->

Name <input type="text" #yourName >

<p #myResult >Your name</p>

<button (click)="yourName.value = 'Angular'  ">Set Name</button>
<button (click)="myResult.textContent = yourName.value">Get Name</button>

<div #container></div>





<!-- contact is a parent componet, app-address child component 
     we can pass the data from parent to child, using property binding []
     
-->

<!-- $event (angular keyword)  data that is passed via event
    we subscribe for click event, event binding ()
-->
<button (click)="btnClick($event)">Btn click</button>

<!-- contactEvent is output EventEmitter
        $event is the value passed in emit(this.address) in address component
        contact($event) is a parent function that should be called when event occurred
    -->
<app-address [address]="headOffice"
             (contactEvent) = "contact($event)"  

>
    <h5>Head Office</h5>
</app-address>

<app-address [address]="branchOffice" 
             (contactEvent) = "contact($event)"  

>
    <h5>Branch Office</h5>    
</app-address>