<!-- {} is an object 
ngClass is an attribute directive, 
it will manipulate class attribute of div tag

highlight is a variable from footer component
-->
<div [ngClass]="{highlightBg: highlight, textColor: highlight}"
     (mouseenter)="highlight = true"  
     (mouseleave)="highlight = false"     
>
    <hr />
    <p>Copyrights @{{year}}, {{company}}</p>
    <p [appHighlight]="'blue'">Build {{build}}</p>

    Branches: <span *ngFor="let branch of branches">{{branch}}</span>

    <!-- render content children in child component -->
    <ng-content></ng-content>

    <p>Date {{today | date:'fullDate' | uppercase}} </p>

    <button (click)="true">Click</button>
</div>