<h2>Product List</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Year</th>
        <th>Ops</th>
    </tr>

    <tr *ngFor="let product of products">
        <td>
            <!-- relative url, /products/edit/12345 -->
            <a [routerLink]="['edit', product.id]" >{{product.name}}</a> 
        </td>
        <td>{{product.price}}</td>
        <td>{{product.year}}</td>
        <td> 
            <button (click)="deleteProduct(product.id)">X</button>
            <button (click)="addToCart(product)">+Cart</button>
            <button (click)="addToFavorite(product)">+Fav</button>
        </td>
    </tr>
</table>