<div>
    <!-- view, where we can bind component member variables-->
    <h2>Welcome to {{appTitle}}</h2>
</div>

<!-- composing components together 
     app is a parent componenent
     header, footer, contact, home, about are children

-->

<app-header>
</app-header>

<!-- place holder where the routed pages displayed here -->
<router-outlet></router-outlet>

<!-- 
<app-cart></app-cart>
<app-home></app-home>
<app-contact></app-contact>
<app-about></app-about>   -->

<!-- passing input footer component -->
<app-footer [year]="2020 + 1" 
            company="ShopCart"
            [branches]="['pune', 'blr', 'chennai']"
            >
            <!-- content children, basically hidden, not displayed
                    to show the content children, we need to use ng-content
            -->
            <p>Mon-Fri: 8:00 AM to 5:00 PM</p>
            <p>Sat, Sun: Holiday</p>
</app-footer>